.listOfLetters{
    padding:2%
}

.listOfLetters ul{
    padding:0;
    margin:0;
    list-style-type:none;
}
  
.listOfLetters li{
    display:inline-block; 
    width:50px;
    line-height:50px;
    text-decoration:none;
    text-align:center;
    border:1px solid white;
}

.lettersAdded {
    list-style-position: inside;
}

#standard-basic {
    color: white;
    border-color: white;
}
